
:root {
  /* bg-colors */
  /* --main-bg: #262335; */
  --main-bg: #262335;
  --alt-bg: #343149;
  --secondary-bg: #241b2f;
  --primary-color: #d5706d;
}

body {
	background-color: var(--main-bg);
  color: #ededee;
  font-family: 'Baloo 2', sans-serif;
}

a {
  color: inherit !important;
}

button.btn:active {
  box-shadow: none;
  transform: scale(.8);
}

/* nav */
nav.main {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
nav div.nav .logo {
  font-size: 1.9em;
  font-weight: 600;
}


a.nav-link {
 display: flex;
 align-items: center;
}

a.nav-link.active {
  color: red !important;
}

button.close {
  font-size: 1.5em !important;
}

div.toggle-link button {
  color: inherit !important;
}

@media (max-width: 650px) {
  div.nav.middle {
    position: absolute;
    top: -300px;
    flex-direction: column;
    background-color: var(--secondary-bg);
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 2px solid #4d194d;
    border-radius: 5px;
  }

  div.nav.middle.open {
    visibility: visible !important;
    top: 0;
    transition: top .6s ease-in-out;
  }

  div.nav.middle.close {
    visibility: hidden;
    top: -300px;
    transition: all .6s ease-in-out;
  }

  div.nav.middle button.close {
    color: inherit;
    display: flex !important;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  div.toggle-link {
    display: flex !important;
    align-items: center;
  }
}

.bracket {
  font-size: 1em !important;
  color: var(--primary-color);
}

/* portfolio */
.container.portfolio {
  height: 100vh;
}

button.to-top {
  opacity: 0 !important;
  color: #ededee;
  font-size: 1.3em;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 100%;
  background-color: var(--primary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
}

button.to-top.visible {
  opacity: 1 !important;
  transition: all .5s ease-in !important;
}

button.to-top:hover {
  background-color: #ededee;
  color: var(--primary-color);
  transition: all 1s ease-in-out !important;
}


