
:root {
  /* bg-colors */
  /* --main-bg: #262335; */
  --main-bg: #1a1c23;
  --alt-bg: #343149;
  --secondary-bg: #241b2f;
  --primary-color: #d5706d;
}

body {
	background-color: var(--main-bg);
  color: #ededee;
  font-family: 'Dosis', sans-serif;
}

a {
  color: inherit !important;
}

button.btn:active {
  box-shadow: none;
  transform: scale(.8);
}

.container {
  max-width: 960px;
}

section {
  min-height: 50vh;
}

section h2 {
  position: relative;
  z-index: 1;
}

section h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -10px;
  width: 1.5em;
  border-bottom: 4px solid var(--primary-color);
  z-index: -1;
}

/* nav */
nav.main {
  background-color: var(--alt-bg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
nav div.nav .logo {
  font-size: 1.9em;
  font-weight: 600;
  transition: all .6s ease-in-out;

}

nav a.logo:hover .bracket {
  color: #ededee !important;
  transition: all .6s ease-in-out;
}


a.nav-link {
 display: flex;
 align-items: center;
}

nav a:hover,
nav button:hover {
  color: var(--primary-color) !important;
}



button.close {
  font-size: 1.5em !important;
}

div.toggle-link button {
  color: inherit !important;
}

div.toggle-link button:focus {
  box-shadow: none;
}

@media (max-width: 650px) {
  div.nav.middle {
    position: absolute;
    top: -300px;
    flex-direction: column;
    background-color: var(--alt-bg);
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 0 0 5px 5px;
    border-top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
  }

  div.nav.middle.open {
    visibility: visible !important;
    top: 0;
    transition: top .6s ease-in-out;
  }

  div.nav.middle.close {
    visibility: hidden;
    top: -300px;
    transition: all .6s ease-in-out;
  }

  div.nav.middle button.close {
    color: inherit;
    display: flex !important;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  div.toggle-link {
    display: flex !important;
    align-items: center;
  }
}

.bracket {
  font-size: 1em !important;
  color: var(--primary-color);
}

button.to-top {
  opacity: 0 !important;
  color: var(--primary-color);
  position: fixed;
  font-size: 1.5em;
  right: 15px;
  bottom: 15px;
  border-radius: 100%;
  border: none;
}

button.to-top.visible {
  opacity: 1 !important;
  transition: all .5s ease-in !important;
}
button.to-top.invisible {
  opacity: 0;
  transition: all .2s ease-in !important;
}

button.to-top:hover {
  color: #ededee;
  transition: all 1s ease-in-out !important;
}

button.to-top:hover:focus {
  box-shadow: none;
}
button.to-top:focus {
  box-shadow: none;
}

/* about */
section.about {
  font-size: 1.5em;
}
section.about img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: bottom 50% 50% 50%;
  border: 2px solid var(--primary-color);
  pointer-events: none;
}

section.about h3 span {
  color: var(--primary-color) !important;
}

section.about h2 span {
  font-size: 1.7em;
}

span.wave {
  display: inline-block;
  animation: wave .5s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
section.about .left {
  border-right: 3px solid var(--primary-color);
}

@media(max-width: 767px) {
  section.about .left {
    border-right: none;
  }
}

@media (max-width: 650px) {
  section.about .left {
    border: none;
  }
}

section.about ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

li.techstack-icon {
  position: relative;
}

li.techstack-icon svg {
  width: 1.5em;
  height: 1.5em;
}

li.techstack-icon div {
  opacity: 0;
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 800;
}

li.techstack-icon:hover {
  /* transform: scale(3); */
  animation: pop-turn 1s 1;
  cursor: pointer;
}

li.techstack-icon:hover div {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

@keyframes pop-turn {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: scale(1.5);
  }
}


/* projects */
section.projects {
  background-color: var(--alt-bg);
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

h2 span.pulse {
  display: inline-block;
  animation: pulse .2s infinite ease-in-out;
}

/* Contact */
.contact-left p {
  font-size: 1.3em;
  font-weight: 800;
}

.contact .row div.col-12:first-of-type {
  border-right: 3px solid var(--primary-color);
}

@media(max-width: 767px) {
  .contact .row div.col-12:first-of-type {
    border: none;
  }
}

::placeholder {
  color: var(--main-bg) !important;
}
.form-control {
  background-color: var(--primary-color);
  border: 1px solid var(--alt-bg);
  color: var(--main-bg) !important;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-control:focus{
  background-color: var(--primary-color);
  box-shadow: none;
  border: none;
}

button.btn-contact {
  background-color: var(--alt-bg) !important;
  color: #ededee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.btn-contact:hover {
  background-color: #3d414e !important;
  transition: all 1s ease-in-out;
  color: #ededee;
}

