div.circles:first-of-type {
  background-color: red;
}
div.circles:nth-of-type(2) {
  background-color: yellow;
}
div.circles:last-of-type {
  background-color: green;
}

.card.project-card {
  padding: 5px;
  background-color: var(--main-bg);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 1px solid rgba(203, 203, 203, 0.2) !important;
}

.card.project-card:hover {
  cursor: pointer;
}

.project-card-header {
  display: inline-block;
  padding: 5px !important;
  padding-bottom: 0 !important;
}

.project-card-header .circles {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-card-header div.tab {
  padding: 0 20px;
  padding-left: 3px !important;
  display: inline-block !important;
  background-color: var(--alt-bg);
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid rgba(255,255,255, .1) !important;
  border-bottom: none !important;
}

.proj-title {
  font-size: .8em;
}

.card.project-card .card-body {
  padding: 10px !important;
  height: 10px;
}

.card.project-card .card-body div {
  opacity: 0;
  visibility: hidden;
}

.card.project-card .card-body.show {
  height: auto;
}

.card.project-card .card-body.show div {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.tech-badges span {
  margin-right: 5px;
}
.gh-icon {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 15px;
}
